<footer id="footer">

    <div class="container">
        <div>
            <h3>Titre</h3>
            <div class="apropos">Lorem Ipsum</div>
        </div>
        <div>
            <ul class="footer-links">
                <li><a href="#">Lien 1</a></li>
                <li><a href="#">Lien 2</a></li>
                <li><a href="#">Lien 3</a></li>
                <li><a href="#">Lien 4</a></li>
                <br>
                <li><a href="#">Mentions Légales</a></li>
            </ul>
        </div>
    </div>

</footer>

</body>
</html>
