<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>New Webpack Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <header>

        <div id="menu" class="container menu-container">
            <div id="title-bar">
                <div class="logo-container">
                    <a href="#">Logo</a>
                </div>
            </div>
            <div id="mainNav">
                <ul class="menu">
                    <li class="menu-item"><div class="wrapper"><a href="#">Lien 1</a></div></li>
                    <li class="menu-item">
                        <div class="wrapper"><a href="#">Lien 2</a></div>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#">Sous Menu 1</a></li>
                            <li class="submenu-item"><a href="#">Sous Menu 2</a></li>
                            <li class="submenu-item"><a href="#">Sous Menu 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="wrapper"><a href="#">Lien 3</a></div>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="#">Sous Menu 1</a></li>
                            <li class="submenu-item"><a href="#">Sous Menu 2</a></li>
                            <li class="submenu-item"><a href="#">Sous Menu 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><div class="wrapper"><a href="#">Lien 4</a></div></li>
                </ul>
            </div>
            <div id="responsiveButton"><i class="fa fa-bars"></i></div>
            <div id="responsiveOverlay"></div>
        </div>


    </header>
