<%= require ('./partials/header.ejs')() %>

    <div class="container">
      <div id="selector">
        <div class="buttons">
            <button type="button" name="button" target="all">All</button>
            <button type="button" name="button" target="film">Films</button>
            <button type="button" name="button" target="book">Books</button>
        </div>
        <div class="objects">
            <div class="object film book">Lord of The Rings</div>
            <div class="object film">The Meaning of Life</div>
            <div class="object book">Ellana</div>
        </div>
      </div>

    </div>

<%= require ('./partials/footer.ejs')() %>
