<%= require ('./partials/header.ejs')() %>

    <div class="container">
        <h1>Videos List</h1>

        <div class="videos-list">
            <div class="video-element" video-id="HpS84FZPbMs"></div>
            <div class="video-element" video-id="1FV4dp9ZaNA"></div>
            <div class="video-element" video-id="d5NsHRYex00"></div>
            <div class="video-element" video-id="COzyx-vweo8"></div>
            <div class="video-element" video-id="HS0Fvi7__bA"></div>
            <div class="video-element" video-id="RPUvuLh60j4"></div>
        </div>

    </div>

<%= require ('./partials/footer.ejs')() %>
