@mixin grid($s, $m, $l, $gap: null) {
    @media screen and (min-width: $screen-small) and (max-width: $screen-medium){grid-template-columns: repeat($s, 1fr);}
    @media screen and (min-width: $screen-medium) and (max-width: $screen-large){grid-template-columns: repeat($m, 1fr);}
    @media screen and (min-width: $screen-large){grid-template-columns: repeat($l, 1fr);}
    display: grid;
    grid-gap: $gap;
}

@mixin scroll-to-top($size, $background, $color, $marge, $circle: false) {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    bottom: $marge;
    right: $marge;
    width: $size;
    height: $size;
    @if $circle {border-radius: 50%;}
    background-color: $background;
    opacity: 0;
    transition: opacity 0.5s;

    cursor: pointer;

    &.visible {
        opacity: 1;
    }
}

@mixin text-border($size, $color) {
  text-shadow:
    $size 0 0 $color,
    -$size 0 $color,
    0 $size 0 $color,
    0 -$size 0 $color,
    $size $size 0 $color,
    -$size -$size 0 $color,
    $size -$size 0 $color,
    -$size $size 0 $color;
}
