footer#footer {
    .container {
        @include grid(1,2,2)

        .apropos {

        }

        .footer-links {
            padding: 0;
            text-align: right;

            li {
                list-style-type: none;
            }
        }
    }
}
