.videos-list {
    @include grid(1,2,5,10px)

    .video-element {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        cursor: pointer;

        img.youtube-play {
            width: 15%;
        }
    }
}
